<div class="detail-container">
  <div class="button-container">
    <button [routerLink] ="['/recipes']">Back</button>
    <div>
      <button (click)="onEditClick()">Edit</button>
      <button (click)="deleteRecipe()">Delete</button>
      
    </div>
  </div>
  <div class="recipe-container" *ngIf="recipe">
    <div class="recipe-image">
      <img src="{{ recipe.imagePath }}" alt="" />
    </div>
    <div class="recipe-text">
      <h1>{{ recipe.name }}</h1>
      <p>{{ recipe.description }}</p>
      <div class="recipe-ingredients">
        <span *ngFor="let ingredient of recipe.ingredients">
          #{{ ingredient.name }} ({{ ingredient.amount }})
        </span>       
      </div>      
        <button class="ingredient-button" (click)="addShoppingIngredient()">Add Shopping</button>
     
     
    </div>
  </div>
</div>
