@use '../../scss/variables' as v;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: v.$primary-color;
    cursor: pointer;
  }

  .links {
    display: flex;
    

    a {
      color: v.$primary-color;
      text-decoration: none;
      margin-left: 20px;
      padding: 8px 16px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      font-weight: bold;

      &:hover {
        background-color: v.$hover-color;
        color:v.$hover-text-color
      }
    }
  }
}
