/* style.scss */

$primary-color: #3498db;
$hover-color: #2980b9; 
$hover-text-color: #fff;

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-color;
  }

  .links {
    display: flex;
    

    a {
      color: $primary-color;
      text-decoration: none;
      margin-left: 20px;
      padding: 8px 16px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
      font-weight: bold;

      &:hover {
        background-color: $hover-color;
        color:$hover-text-color
      }
    }
  }
}
