<form (ngSubmit)="onSubmit(form)" #form="ngForm" class="ingredient-form">
  <div class="form-group">
    <label for="newIngredientName">Name:</label>
    <input type="text" id="newIngredientName" name="newIngredientName" ngModel required class="form-control" />
  </div>
  <div class="form-group">
    <label for="newIngredientAmount">Amount:</label>
    <input type="number" id="newIngredientAmount" name="newIngredientAmount" ngModel required class="form-control" />
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Add</button>
  </div>
</form>
