@use "../../scss/variables" as v;

.ingredient-form {
  max-width: 400px;
  margin: auto;

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid v.$add-shopping-border;
      border-radius: 4px;
    }
    button {
      padding: 10px 15px;
      background-color: v.$primary-color;
      color: v.$hover-text-color;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    button:disabled {
      background-color: v.$disabled;
      cursor: not-allowed;
    }
  }
}
