$primary-color: #3498db;
$hover-color: #2980b9;
$hover-text-color: #fff;
$ingredient-color: #555;

.ingredient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;

  .editMode{
    display: flex;
    input {
      padding: 5px;
      margin: 2px;
      border: 1px solid $ingredient-color;
      border-radius: 4px;
      transition: border-color 0.3s ease;
      width: 100%;
  
      &:focus {
        outline: none;
        border-color: $hover-color;
      }
    }
  }

  

  button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: $primary-color;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
      color: $hover-text-color;
    }
  }
}
