@use '../../scss/variables' as v;


.ingredient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  background-color: v.$shopping-color; 
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;

  .editMode{
    display: flex;
    input {
      padding: 5px;
      margin: 2px;
      border: 1px solid v.$ingredient-color;
      border-radius: 4px;
      transition: border-color 0.3s ease;
      width: 100%;
  
      &:focus {
        outline: none;
        border-color: v.$hover-color;
      }
    }
  }  

  button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: v.$primary-color;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: v.$hover-color;
      color: v.$hover-text-color;
    }
    &:disabled {
      background-color: v.$disabled;
      cursor: not-allowed;
      color:v.$hover-text-color
    }
  }
}
