<form [formGroup]="recipeForm" #editForm="ngForm">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" formControlName="name" />
  </div>
  <div>
    <label for="imagePath">Kép URL:</label>
    <input
      type="text"
      id="imagePath"
      class="form-control"
      formControlName="imagePath"
      #imagePath
    />
  </div>
  <div>
    <img [src]="imagePath.value" />
  </div>
  <div>
    <label for="description">Description</label>
    <textarea
      type="text"
      id="description"
      class="form-control"
      rows="6"
      formControlName="description"
    ></textarea>
  </div>

  <!-- Hozzávalók -->
  <div formArrayName="ingredients">
    <div *ngFor="let ingredientGroup of ingredientsFormArray.controls; let i = index" [formGroupName]="i">
      <input type="text" formControlName="name" placeholder="ingredient" />
      <input type="number" formControlName="amount" placeholder="db" />
      <button type="button" (click)="addIngredient()">Add</button>
      <button type="button" (click)="deleteIngredient(i)">Delete</button>
    </div>
  </div>

 
  <button type="submit" (click)="saveRecipe()"  [disabled]="!editForm.valid">Save</button>
</form>
