@use "../../scss/variables" as v;

form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid v.$ingredient-color;
  border-radius: 8px;

  div {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid v.$ingredient-color;
      border-radius: 4px;
      box-sizing: border-box;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    button {
      border: none;
      background-color: transparent;
      font-weight: bold;
      color: v.$primary-color;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: v.$hover-color;
        color: v.$hover-text-color;
      }
    }
  }
  button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: v.$primary-color;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: v.$hover-color;
      color: v.$hover-text-color;
    }
    &:disabled {
      background-color: v.$disabled;
      cursor: not-allowed;
      color: v.$hover-text-color;
    }
  }
}
