$primary-color: #3498db;
$hover-color: #2980b9;
$hover-text-color: #fff;
$ingredient-color: #555;

form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid $ingredient-color;
  border-radius: 8px;

  div {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid $ingredient-color;
      border-radius: 4px;
      box-sizing: border-box;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    button {
      border: none;
      background-color: transparent;
      font-weight: bold;
      color: $primary-color;
      padding: 10px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
        color: $hover-text-color;
      }
    }
  }
  button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: $primary-color;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
      color: $hover-text-color;
    }
  }
}
